@font-face {
  font-family: "Calibre";
  src: url("../fonts/Calibre-Bold.eot");
  src: url("../fonts/Calibre-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Calibre-Bold.woff") format("woff"),
    url("../fonts/Calibre-Bold.woff2") format("woff2"),
    url("../fonts/Calibre-Bold.ttf") format("truetype"),
    url("../fonts/Calibre-Bold.svg#Calibre-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url("../fonts/Calibre-Semibold.eot");
  src: url("../fonts/Calibre-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Calibre-Semibold.woff") format("woff"),
    url("../fonts/Calibre-Semibold.woff2") format("woff2"),
    url("../fonts/Calibre-Semibold.ttf") format("truetype"),
    url("../fonts/Calibre-Semibold.svg#Calibre-Semibold") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url("../fonts/Calibre-Light.eot");
  src: url("../fonts/Calibre-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Calibre-Light.woff") format("woff"),
    url("../fonts/Calibre-Light.woff2") format("woff2"),
    url("../fonts/Calibre-Light.ttf") format("truetype"),
    url("../fonts/Calibre-Light.svg#Calibre-Light") format("svg");
  font-weight: 100;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Calibre", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ececec;
}

body {
  display: flex;
  margin: 0 auto;
  max-width: 704px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10vw;
}
@media (max-width: 512px) {
  html {
    font-size: 14px;
  }
}

h1 {
  font-size: 6rem;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.15);
  letter-spacing: -0.05em;
  font-weight: 600;
  text-indent: -5px;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 0.75em;
}
@media (max-width: 512px) {
  h1 {
    font-size: 5rem;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  letter-spacing: -0.03em;
  line-height: 1.3em;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.25rem;
  color: #666;
  line-height: 1.3em;
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
  color: #333;
  transition: all 100ms;
}

a.social-link--dribbble {
  color: rgba(252, 93, 183, 1);
}
a.social-link--dribbble:hover {
  border-color: rgba(252, 93, 183, 1);
}

a.social-link--github {
  color: rgba(0, 0, 0, 1);
}
a.social-link--github:hover {
  border-color: rgba(0, 0, 0, 1);
}

a.social-link--twitter {
  color: rgba(0, 182, 255, 1);
}
a.social-link--twitter:hover {
  border-color: rgba(0, 182, 255, 1);
}

a.social-link--linkedin {
  color: #0a66c2;
}
a.social-link--linkedin:hover {
  border-color: #0a66c2;
}

a.social-link--email {
  color: rgba(244, 48, 13, 1);
}
a.social-link--email:hover {
  border-color: rgba(244, 48, 13, 1);
}
